<!DOCTYPE html>
<html>
    <head>
        <title>Inventory System</title>
        
        <!-- Stylesheets -->
        <link rel=stylesheet type=text/css href="{{ url_for('static', filename='bootstrap/css/bootstrap.css') }}">
        <link rel=stylesheet type=text/css href="{{ url_for('static', filename='select2/select2.css') }}">

        <!-- Javascript -->
        <script src="http://code.jquery.com/jquery.js"></script>
        <script type=text/javascript src="{{ url_for('static', filename='bootstrap/js/bootstrap.min.js') }}"></script>
        <script type=text/javascript src="{{ url_for('static', filename='select2/select2.js') }}"></script>
        <script type=text/javascript src="{{ url_for('static', filename='highcharts/highcharts.js') }}"></script>
        <script type=text/javascript src="{{ url_for('static', filename='js/chart.js') }}"></script>
    </head>
    <body>
        <div class="navbar">
            <div class="navbar-inner">
                <a class="brand" href="/">Tethys Inventory Management</a>
            </div>
        </div>
        <!-- Spot for rendering primary block -->
        {% block body %}
        {% endblock %}
    </body>
</html>
