{% extends "base.html" %}
{% block body %}
    <form class = "form-inline" action="/" method="POST">
        Search: <input name="search" type="text" size="100" />
        <input name="search" class = "btn" type="submit" value="Submit" />
    </form>
    <br>
    <div class = "dropdown">
    <a class = "btn" href="/item/edit/">New Item</a>
        <a class="btn" id = "dLabel" role="dropdown-toggle" data-toggle="dropdown" href="#">Reports
            <b class = "caret" ></b>
        </a>
        <ul class = "dropdown-menu" role="menu" aria-labelledby="dLabel">
            <li><a href = "#">Usage</a></li>
            <li><a href = "#">Reorder</a></li>
        </ul>
    </div>
    <br>
    <br>
    <br>
    <div class = "container">
    <table class = "table table-hover table-bordered table-condensed">
        <tr>
            <th>Name</th>
            <th>Catalog Number</th>
            <th>Quantity On Hand</th>
            <th>Reorder Point</th>
            <th>Reorder Quantity</th>
            <th>Vendor</th>
        </tr>
        {% for item in items %}
            <tr>
                <td><a href="/item/{{item.id}}">{{ item.name }}</a></td>
                <td>{{ item.num }}</td>
                <td>{{ item.quantity_on_hand }}</td>
                <td>{{ item.reorder_point}}</td>
                <td>{{ item.reorder_quantity}}</td>
                <td>{{ item.vendor.name }}</td>
            </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}
