{% extends "base.html" %}
{% block body %}
 <script>
        $(document).ready(function() {
            $('#vendor_dropdown').select2({
                placeholder: "Select Vendor",
                ajax: {
                    url: "/api/vendors",
                    dataType: "json",
                    data: function(term, page) {
                        return {q: term}
                    },
                    results: function(data, page) {
                        return {results: data.results};
                    }
                }
            });
        });
    </script>
    <div class = "container-fluid">
        <div class="row-fluid">
            <div class="span2">
                <!-- Sidebar -->
                <ul class="nav nav-list">
                    <li class="active"><a href="#">Search</a></li>
                    <li><a href="/reports/">Reports</a></li>
                    <li class="divider"></li>
                    <li><a href="/item/edit/">Enter Item</a></li>
                    <li><a href="/vendor/edit/">Enter Vendor</a></li>
                    <li><a href="/lot/edit/">Enter Lot</a></li>
                    <li class="divider"></li>
                    <li><a href="#">Settings</a></li>
                </ul>
            </div>
            <div class="span10">
                <!-- Main content -->
    <!--Search Bar -->
            <h3>Search</h3>
            <dl>
                <form class = "form-inline" action="/" method="POST">
                    <br>
                    <div class = "span2">
                        Name: 
                    </div>
                    <input name="search_name" type="text" size="100" />
                    <br><br>
                    <div class = "span2">
                        Catalog Number:
                    </div>
                    <input name="search_catalog_num" type = "text" size = "100" />
                    <br><br>
                    <div class = "span2">
                        Vendor: 
                    </div>
                    <dd> <input name="search_vendor" id="vendor_dropdown" value="" size="width: 300px" />
            </dl>
            <div class = "span2">
                Quantity on Hand:
            </div>
            <input name="search_quantity_from" type = "number" class = "span1" />
                Between
            <input name="search_quantity_to" type = "number" class = "span1" />
            <br><br>
            <input name="search" class = "btn" type="submit" value="Submit" />
            </form>
    <!--End Search Box-->
                <hr>
                <table class = "table table-hover table-bordered table-condensed">
                    <tr>
                        <th>Name</th>
                        <th>Catalog Number</th>
                        <th>Quantity On Hand</th>
                        <th>Reorder Point</th>
                        <th>Reorder Quantity</th>
                        <th>Primary Vendor</th>
                        <th>Secondary Vendor</th>
                    </tr>
                    {% for item in items %}
                    <tr>
                        <td><a href="/item/{{item.id}}">{{ item.snapshots[0].name }}</a></td>
                        <td>{{ item.snapshots[0].num }}</td>
                        <td>{{ item.snapshots[0].quantity_on_hand }}</td>
                        <td>{{ item.snapshots[0].reorder_point}}</td>
                        <td>{{ item.snapshots[0].reorder_quantity}}</td>
                        <td><a href="/vendor/{{item.snapshots[0].primary_vendor.id}}">{{ item.snapshots[0].primary_vendor.name }}</a></td>
                        <td><a href="/vendor/{{item.snapshots[0].secondary_vendor.id}}">{{ item.snapshots[0].secondary_vendor.name }}<a>
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
{% endblock %}
