{% extends "base.html" %}
{% block body %}
    {% if item %}
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span2">
                <!-- Sidebar -->
                <ul class="nav nav-list">
                    <li><a href="/">Search</a></li>
                    <li><a href="/reports/">Reports</a></li>
                    <li class="divider"></li>
                    <li><a href="/item/edit/">Enter Item</a></li>
                    <li><a href="/vendor/edit/">Enter Vendor</a></li>
                    <li><a href="/lot/edit/">Enter Lot</a></li>
                    <li class="divider"></li>
                    <li><a href="#">Settings</a></li>
                </ul>
            </div>
    <!-- Main Content-->
            <div class="span10">
    <br>
    <!-- 
    <a class = "btn" href="/">Home</a>
    -->
    <a class = "btn" href="/item/{{item.id}}">Back to Item</a>
    <br><br>
    <div class = "container">    
    <table class = "table table-hover table-bordered table-condensed">
        <tr>
            <th>View Detail</th>
            <th>Name</th>
            <th>Quantity On Hand</th>
            <th>Lot</th>
            <th>Status</th>
            <th>Primary Vendor</th>
            <th>Secondary Vendor</th>
            <th>Timestamp</th>
        </tr>
       {% for snapshot in item.snapshots %}
        <tr>
        <!-- Modal Trigger -->
            <td><a href = "#view_detail" role="button" class="btn" data-toggle="modal">View Detail</a></td>
            <td>{{ snapshot.name }}</td>
            <td>{{ snapshot.quantity_on_hand }}</td>
            <td>{{item.snapshots[0].lot.name}}</td>
            <td>{{item.snapshots[0].lot.state}}</td>
            <td>{{ snapshot.primary_vendor.name }}</td>
            <td>{{ snapshot.secondary_vendor.name}}</td>
            <td>{{ snapshot.timestamp }}</td>
        </tr>
    <!-- View Detail Modal -->
        <div id="view_detail" class="modal hide fade">
            <form id="modal-form" action="/api/vendor/{{item.id}}" method="POST">
                <div class="modal-header">
                    <a class="close" data-dismiss="modal">x</a>
                        <dl>
                            <dt><h3>Detail of:
                            <dd>{{ snapshot.name }}</h3>
                            <br>
                            <dt>Timestamp:
                            <dd>{{ snapshot.timestamp }}
                        </dl>
                </div>
                <div class="modal-body">
                <dl>
                    <dt>Catalog Number:
                    <dd>{{ snapshot.num }}
                <br><br>
                    <dt>Reorder Point:
                    <dd>{{ snapshot.reorder_point}}
                <br><br>
                    <dt>Reorder Quantity:
                    <dd>{{ snapshot.reorder_quantity}}
                <br><br>
                    <dt>Primary Vendor Price:
                    <dd>{{ snapshot.primary_vendor_p }}
                <br>
                    <dt>Secondary Vendor Price:
                    <dd>{{ snapshot.secondary_vendor_p}}
                </dl>
                </div>
                <div class="modal-footer">
                    <a href="#" class="btn" data-dismiss="modal">Cancel</a>
                        <input type="submit" value="Save" class="btn btn-primary" />
                </div>
            </form>
        </div>
        {% endfor %}
    {% else %}
        <p>Something went wrong!</p>
    {% endif %}
{% endblock %}
