{% extends "base.html" %}
{% block body %}
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span2">
                <!-- Sidebar -->
                <ul class="nav nav-list">
                    <li><a href="/">Search</a></li>
                    <li><a href="#">Generate Report</a></li>
                    <li><a href="/item/edit/">Enter Item</a></li>
                    <li><a href="#">Enter Vendor</a></li>
                    <li class="divider"></li>
                    <li><a href="#">Settings</a></li>
                </ul>
            </div>
            <div class="span10">
                <!-- Main content -->
                {% if item %}
                    <h1>{{item.snapshots[0].name}}</h1>
                    <a class = "btn" href="/item/edit/{{item.id}}">Edit</a>
                    <a class = "btn" href="/item/history/{{item.id}}">History</a>
                    <br>
                    <hr>
                    Catalog Number: {{item.snapshots[0].num}}
                    <br><br>
                    Quantity on Hand: {{item.snapshots[0].quantity_on_hand}}
                    <br><br>
                    Reorder Point: {{item.snapshots[0].reorder_point}}
                    <br><br>
                    Reorder Quantity: {{item.snapshots[0].reorder_quantity}}
                    <br><br>
                    Primary Vendor: <a href="/vendor/{{item.snapshots[0].primary_vendor.id}}">{{item.snapshots[0].primary_vendor.name}}</a>
                    <br><br>
                    Secondary Vendor: <a href="/vendor/{{item.snapshots[0].secondary_vendor.id}}">{{item.snapshots[0].secondary_vendor.name}}</a>
                {% else %}
                    <p>Something went wrong!</p>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
