{% extends "base.html" %}
{% block body %}
    <script>
        $(document).ready(function() {
            var src = ["test1", "test2", "test3"];
            $('#vendor_dropdown').select2({
                placeholder: "Select Vendor",
                ajax: {
                    url: "/api/vendors",
                    dataType: "json",
                    data: function(term, page) {
                        return {q: term}
                    },
                    results: function(data, page) {
                        return {results: data.results};
                    }
                }
            });
        });
    </script>
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span2">
                <!-- Sidebar -->
                <ul class="nav nav-list">
                    <li><a href="/">Search</a></li>
                    <li><a href="#">Generate Report</a></li>
                    <li class="active"><a href="/item/edit/">Enter Item</a></li>
                    <li><a href="/vendor/edit/">Enter Vendor</a></li>
                    <li class="divider"></li>
                    <li><a href="#">Settings</a></li>
                </ul>
            </div>
            <div class="span10">
                <!-- Main content -->
                {% if get_flashed_messages() %}
                    <div class="alert alert-info" id="infoBar">
                        {% for message in get_flashed_messages() %}
                            <div class="flash">{{ message }}</div>
                        {% endfor %}
                    </div>
                {% endif %}
                {% if item %}
                    <form action="/item/edit/{{item.id}}" method="POST">
                        <dl>
                            <dt> Name<font color="red">*</font>:
                            <dd> <input name="name" type="text" size="40" value={{item.snapshots[0].name}} />
                            <dt> Num<font color="red">*</font>:
                            <dd> <input name="num" type="text" size="40" value={{item.snapshots[0].num}} />
                            <dt> Quantity on hand<font color="red">*</font>:
                            <dd> <input name="quantity" type="number" size="40" value={{item.snapshots[0].quantity_on_hand}}  />
                            <dt> Reorder Point<font color="red">*</font>:
                            <dd> <input name="reorder_point" type="number" size="40" value={{item.snapshots[0].reorder_point}} />
                            <dt> Reorder Quantity<font color="red">*</font>:
                            <dd> <input name="reorder_quantity" type="number" size="40" value={{item.snapshots[0].reorder_quantity}} />
                            <dt> Primary Vendor<font color="red">*</font>:
                            <dd> <input name="primary_vendor" type="name" size="40" value={{item.snapshots[0].primary_vendor}} />
                            <br><br>
                            <dd> <font color="red">*</font> denotes a required field
                            <br><br>
                            <dd> <input class = "btn" name="save" type="submit" value="Save" />
                            <a class = "btn" href="/item/{{item.id}}">Cancel</a>
                        </dl>
                    </form>
                {% else %}
                    <form action="/item/edit/" method="POST">
                        <dl>
                            <dt> Name<font color="red">*</font>: 
                            <dd> <input name="name" type="text" size="40" />
                            <dt> Catalog Number<font color="red">*</font>:
                            <dd> <input name="num" type="text" size="40" />
                            <dt> Quantity on Hand<font color="red">*</font>:
                            <dd> <input name="quantity" type="number" size="40" />
                            <dt> Reorder Point<font color="red">*</font>:
                            <dd> <input name="reorder_point" type="number" size="40" />
                            <dt> Reorder Quantity<font color="red">*</font>:
                            <dd> <input name="quantity_quantity" type="number" size="40" />
                            <dt> Primary Vendor<font color="red">*</font>:
                            <dd> <input name="primary_vendor" type="name" size="40" />
                            <dt> Secondary Vendor:
                            <dd><input id="vendor_dropdown" style="width: 300px"/>
                            <input type="hidden" id="hidden_vendor_id"/>
                            <br><br>
                            <dd> <font color="red">*</font> denotes a required field
                            <br><br>
                            <dd><input class = "btn" name="save" type="submit" value="Save" />
                            <a class = "btn" href="/">Cancel</a>
                        </dl>
                    </form>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
