{% extends "base.html" %}
{% block body %}
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span2">
                <!-- Sidebar -->
                <ul class="nav nav-list">
                    <li><a href="/">Search</a></li>
                    <li class="active"><a href="#">Reports</a></li>
                    <li class="divider"></li>
                    <li><a href="/item/edit/">Enter Item</a></li>
                    <li><a href="/vendor/edit/">Enter Vendor</a></li>
                    <li><a href="/lot/edit/">Enter Lot</a><li>
                    <li class="divider"></li>
                    <li><a href="#">Settings</a></li>
                </ul>
            </div>
            <div class="span10">
                <!-- Main content -->
                <h3>Reports</h3>
                <hr>
                <dl>
                    <dt>Reorder Report  
                    <a class = "btn" href = "/api/reports/0?export=f">RUN</a>
                    <a class = "btn" href = "/api/reports/0?export=t">EXPORT</a>
                    <a href="/csv/reorder_report.csv">Reorder Report</a>
                    <br><br>
                    <dt>Item Report
                    <a class = "btn" href = "/api/reports/1?export=f">RUN</a>
                    <a class = "btn" href = "/api/reports/1?export=t">EXPORT</a>
                    <form method="GET" action="csv/file.doc">
                    <button type="submit">Download</button>
                    </form>
                </dl>
            <hr>
            {% if items %}
            <table class = "table table-hover table-bordered table-condensed">
                <tr>   
                    <th>Name</th>
                    <th>Catalog Number</th>
                    <th>Quantity On Hand</th>
                    <th>Reorder Point</th>
                    <th>Reorder Quantity</th>
                    <th>Primary Vendor</th>
                    <th>Primary Vendor Price</th>
                </tr>
                {% for item in items %}
                <tr>
                    <td><a href="/item/{{item.id}}">{{ item.snapshots[0].name }}</a></td>
                    <td>{{ item.snapshots[0].num }}</td>
                    <td>{{ item.snapshots[0].quantity_on_hand }}</td>
                    <td>{{ item.snapshots[0].reorder_point}}</td>
                    <td>{{ item.snapshots[0].reorder_quantity}}</td>
                    <td>{{ item.snapshots[0].primary_vendor.name }}</td>
                    <td>{{item.snapshots[0].primary_vendor_p}}<a>
                </tr>
                {% endfor %}
            </table>
        </div>
            {% endif %}
        </div>
    </div>
{% endblock %}
