{% extends "base.html" %}
{% block body %}
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span2">
                <!-- Sidebar -->
                <ul class="nav nav-list">
                    <li><a href="/">Search</a></li>
                    <li class="active"><a href="#">Reports</a></li>
                    <li><a href="/item/edit/">Enter Item</a></li>
                    <li><a href="/vendor/edit/">Enter Vendor</a></li>
                    <li class="divider"></li>
                    <li><a href="#">Settings</a></li>
                </ul>
            </div>
            <div class="span10">
                <!-- Main content -->
            <h3>Reports</h3>
            <hr>
            <dl>
                <dt>Reorder Report  
                    <a class = "btn" href = "#">RUN</a>
            <br><br>
                <dt>Item Report
                <a class = "btn" href = "#">RUN</a>
            </dl>
            </div>
            <hr><hr>
                <table class = "table table-hover table-bordered table-condensed">
                    
                </table>
        </div>
    </div>
{% endblock %}
