{% extends "base.html" %}
{% block body %}
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span2">
                <!-- Sidebar -->
                <br><br>
                <ul class="nav nav-list">
                    <li><a href="/">Search</a></li>
                    <li><a href="#">Reports</a></li>
                    <li><a href="/item/edit/">Enter Item</a></li>
                    <li><a href="/vendor/edit/">Enter Vendor</a></li>
                    <li class="divider"></li>
                    <li><a href="#">Settings</a></li>
                </ul>
            </div>
            <div class="span10">
                <!-- Main content -->
                {% endfor %}
                </table>
            </div>
        </div>
    </div>
{% endblock %}